#chat-container {
  margin: 25px auto;
  width: 75%;
  min-width: 500px;
  border: 1px solid #000;
  max-height: 500px;
  overflow-y: scroll;
}

#msg-input-container {
  width: 75%;
  margin: 25px auto;

};

#chatbox {
  margin: 10px;
}

// .msg-button-container {
//   float: right;
// }

.message-detail {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-detail:first-of-type {
  border-top: none;
}

.is-user {
  color: rgb(167, 2, 2);
}

.other-user {
  color: rgb(0, 0, 155);
}