h1 {
    text-align: center;
    font-weight: bold;
}

.flex-wrap {
    justify-content: center;
}

button {
    justify-content: center;
}

#events-Header {
    margin-bottom: 30px;
    margin-right: 39px;
    font-weight: bold;
}

#eventsForm {
    margin: 0 300px 0 300px;
}

#form-labels {
    font-weight: bold;
    font-size: 20px;
}