.main-card-container {
  margin: 5px auto;
  width: 80%;
}

.event-card {
  margin: 15px 0;
  width: 35%;
}

.article-card {
  margin: 15px 0;
  width: 35%;
}

.message-card {
  margin: 15px 0;
  width: 35%;
}

.weather-card {
  margin: 15px 0;
  width: 35%;
}