@import '~bootstrap/scss/bootstrap';
@import './styles/variables';

body {
  background-color: $darkgray;
}

#single-article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // background-color: white;
  // float: left;
}

#add-edit-article{
  display: flex;
  float: right;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  height: 20%;
  margin-right: 50px;
}



#solo-article{
  border: 1px black solid;
  margin: 10px;
  text-align: center;
}

#articleAddButton{
  margin-top: 30px;
  margin-left: 20px;
}

#nav-links .active {
  background-color: black;
  // padding: 8px;
  // margin-right: 40px;
}