@import '~bootstrap/scss/bootstrap';
@import './styles/variables';

body {
  background-color: $darkgray;
}

.articleFun{
  width: 33%;
}

#single-article{
  width: 33%;
  margin: 0px;
}

// .funArticle{
//   float: right;
// }