#weatherIcon {
  height: 200px;
  width: 200px;
}

#currentLocation {
  animation-name: fadeIn;
  animation-duration: 2.5s;
}

#show-location-form {
  // height: 26px;
  // width: 26px;
  margin-right: .5em;
}

#form-zip-code {
  margin-right: 100px;
}

.weatherHome {
  background: url('../img/weather.jpeg');
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 100%;
  // -webkit-animation: slide 20s linear infinite;
}

.day {
  background: url('../img/day.jpeg') repeat 0 0;
  width: 100%;
  margin: 0;
  height: 100%;
  -webkit-animation: slide 20s linear infinite;
}

.night {
  background: url('../img/night.jpeg');
  width: 100%;
  margin: 0;
  height: 100%;
  -webkit-animation: slide 20s linear infinite;
  #currentLocation {
    color: white;
  }
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.trash {
  width: 25px;
  height: 25px;
}

.no-location {
  color: rgb(239, 250, 255);
  margin: 5em;
  width: 750px;
}

// Scrolling animation came from here: 

// https://codepen.io/subz/pen/GgPrJP

// .hero-bkg-animated {
//   background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
//   width: 100%;
//   margin: 0;
//   text-align: center;
//   height: 300px;
//   padding-top: 120px;
//   box-sizing: border-box;
//   -webkit-animation: slide 20s linear infinite;
// }

// .hero-bkg-animated h1 {
//   font-family: sans-serif;
// }
